@{
    ViewData["Title"] = "Student Form";
}

<h2>Student Information Form</h2>

<form method="post">
    <!-- Students will complete the form here -->
        <label>Full Name</label>
        <input type="text">
        <br>
        <label>Student Number</label>
        <input type="text">
        <br>
        <label>Email Address</label>
        <input type="email">
        <br>
        <label>Gender: </label>    
        <input type="radio" value="male">
        <label for="male">Male</label>
        <input type="radio" value="female">
        <label for="female">Female</label>
        <br>
        <label>Year Level: </label>
        <select>
            <option>1st Year</option>
            <option>2nd Year</option>
            <option>3rd Year</option>
            <option>4th Year</option>
        </select>
        <br>
        <label>Course: </label>
        <select>
            <option>BSCS</option>
            <option>BSIT</option>
            <option>BSEMC</option>
        </select>
        <br>
        <label>About Me</label>
        <textarea></textarea>
        <br>
        <input type="submit" value="Submit">
</form>
